@model  List<mca.model.User>

@{
    ViewBag.Title = "Users";
    WebGrid WebGrid = new WebGrid(Model, null, null, 10);
}

<style type="text/css">
    .wedgrid-header {
        border: lightgray 1px solid;
        border-radius: 2px;
        background-color: #262425;
        color: #FFFFFF;
        font-weight: bold !important;
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: lightgray;
        padding: 3px 7px 2px;
    }

    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('/Images/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        input[type=text]:focus {
            width: 100%;
        }
</style>

<div class="container-fluid">
    <div class="container">
        @if (TempData["alert"].ToString() == "success")
        {
            <div id="errorMessage" class="row alert alert-success alert-dismissable">
                <a href="javascript:;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> @TempData["msg"]
            </div>
        }
        else if (TempData["alert"].ToString() == "error")
        {
            <div id="errorMessage" class="row alert alert-danger alert-dismissable">
                <a href="javascript:;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> @TempData["msg"]
            </div>
        }
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h2>Users Management</h2>
        </div>
        @if (Auth.RoleName == "WebAdmin")
            {
            <div class="row">
                <div class="button pull-left">
                    <a href="@Url.Action("Create", "Account")">Create</a>
                </div>

                <div class="pull-right">
                    <input type="text" name="search" placeholder="Search.." id="txtboxsearch" value="@ViewBag.qurey">
                </div>
            </div>
        }

        <div class="row">
            @if (Model != null && Model.Count() > 0)
            {
            @WebGrid.GetHtml(
             tableStyle: "table table-responsive backcolor",
             headerStyle: "wedgrid-header",
             footerStyle: "webgrid-footer",
             alternatingRowStyle: "webgrid-alternating-row",
             rowStyle: "webgrid-row-style",
             selectedRowStyle: "Grid-selected",
         mode: WebGridPagerModes.All,
         columns:
           WebGrid.Columns
           (
               WebGrid.Column(columnName: "FirstName", header: "First Name", canSort: false),
               WebGrid.Column(columnName: "LastName", header: "Last Name", canSort: false),
               WebGrid.Column(columnName: "Email", header: "Email", canSort: false),
               WebGrid.Column(columnName: "RoleName", header: "Role", canSort: false),
               WebGrid.Column(header: "Is Active", format:
            @<text>
                @if (item.Active)
                { <span style="color:#235788;" class="glyphicon glyphicon-ok"></span> }
                else
                { <span style="color:#EA3F48;" class="glyphicon glyphicon-remove"></span> }
            </text>),
               WebGrid.Column(header: "Action", format:
            @<text>
                @if (Auth.RoleName == "WebAdmin")
                {
            <a href='@Url.Action("Edit", "Account", new { id = @item.id })' class="glyphicon glyphicon-pencil"></a>
            <span>|</span>
            <a href='@Url.Action("Delete", "Account", new { id = @item.id })' class="glyphicon glyphicon-trash"></a>
                }
                else
                {@Html.Raw("-") }

            </text>)
                      )
                  );
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {
            setTimeout(function () { $("#errorMessage").hide(); }, 10000);
        });


        $(document).on("keypress", "#txtboxsearch", function (e) {
            if (e.which == 13) {
                window.location.href = "/Account/Index?q=" + $("#txtboxsearch").val();
            }
        });
       
 </script>
}