@model mca.web.Models.ProductViewModel

@{
    ViewBag.Title = "Product Detail";
}

<div class="bg-texture">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="page-heading">
                    <img class="img-responsive" src="~/Images/search-icon-small.png" alt="search-icon-small">
                    <h1>Product Detail</h1>
                </div>
                <div class="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Home")">Home</a></li>
                        <li><a href="@Url.Action("Search")">Product Search</a></li>
                        <li><a href="@Url.Action("Selector")">Product Selector</a></li>
                        <li class="active"><a href="@Url.Action("Detail", new { productID = Model.ProductId })">Product Detail</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container container-bg page-height">
            <div class="row">
                <div class="modelbox-table">
                    <div class="">
                        <table class="table">
                            <tr>
                                <th>Model Number</th>
                                <th>Description</th>
                                <th>Brand</th>
                            </tr>
                            <tr>
                                <td>@Model.ProductId</td>
                                <td>@Model.Description</td>
                                <td>@Model.Brand</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="colapse-table">
                            <table class="table" style="border-collapse:collapse;display: block;overflow-x: auto;">
                                @{int count = 1; string str = string.Empty; }
                                @foreach (var item in Model.Items)
                                {
                                    decimal _totaltransfer = ((item.Items.Where(w => w.Transfer < 0).Select(s => s.Transfer).Sum()) + (item.Items.Where(w => w.Transfer > 0).Select(s => s.Transfer).Sum()));
                                    decimal _totalshipped = ((item.Items.Where(w => w.ShippedQuantity < 0).Select(s => s.ShippedQuantity).Sum()) + (item.Items.Where(w => w.ShippedQuantity > 0).Select(s => s.ShippedQuantity).Sum()));
                                    decimal _totalPurhaseOrder = item.Items.Where(w => w.PurhaseOrder > 0).Select(s => s.PurhaseOrder).Sum();
                                    decimal _totalOnHand = item.Items.Where(w => w.QuantityOnHand > 0).Select(s => s.QuantityOnHand).Sum();

                                    <thead>
                                        <tr>
                                            <th>Month/Year</th>
                                            <th>Warehouse</th>
                                            <th>On Hand</th>
                                            <th style="min-width: 70px;">@item.TopCustomer1</th>
                                            <th style="min-width: 70px;">@item.TopCustomer2</th>
                                            <th style="min-width: 70px;">@item.TopCustomer3</th>
                                            <th></th>
                                            <th>Shipped Quantity</th>
                                            <th>Already Shipped</th>
                                            <th>On Order</th>
                                            <th>Transfer</th>
                                            <th>Proj/Act & Quantity </th>
                                            <th>MOS</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (count == 1)
                                        {
                                            str = "first-row";
                                        }
                                        else { str = "second-row"; }

                                        <tr data-toggle="" id="@str" data-target=".demo1" class="accordion-toggle shrow mytr">
                                            <td>@item.MonthYear</td>
                                            <td>Total</td>
                                            <td>@_totalOnHand.VectorValue()</td>
                                            <td>@item.TopCustomer1Qty.VectorValue()</td>
                                            <td>@item.TopCustomer2Qty.VectorValue()</td>
                                            <td>@item.TopCustomer3Qty.VectorValue()</td>
                                            <td>
                                                <button class="btn popTbl" data-target="#myPopover3" data-Year="@item.MonthYear">
                                                    <div class="tbl-btn">More</div>
                                                    <div class="adge-bottom"></div>
                                                </button>

                                                @*<button class="btn btn-primary popTbl" data-target="#myPopover3" data-Year="@item.MonthYear">More</button>*@
                                            </td>
                                            <td>@_totalshipped.VectorValue()</td>
                                            <td>-</td>
                                            <td>@_totalPurhaseOrder.VectorValue()</td>
                                            <th>@_totaltransfer.VectorValue()</th>
                                            <td>236</td>
                                            <td>3.01</td>
                                            <th>
                                                @if (count == 1)
                                                {
                                                    <button class="btn btn-default btn-xs accordion-toggle shrow">
                                                        <span id="first-pm" class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-default btn-xs accordion-toggle shrow">
                                                        <span id="first-pm" class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                }
                                            </th>
                                        </tr>

                                        @foreach (var subitem in item.Items)
                                        {
                                            <tr class="hiddenRow accordian-body demo1">
                                                <td>-</td>
                                                <td>@subitem.WarehouseCode</td>
                                                <td>@subitem.QuantityOnHand</td>
                                                <td>@subitem.Customer1Qty.VectorValue()</td>
                                                <td>@subitem.Customer2Qty.VectorValue()</td>
                                                <td>@subitem.Customer3Qty.VectorValue()</td>
                                                <td>-</td>
                                                <td>
                                                    @subitem.ShippedQuantity.VectorValue()
                                                </td>
                                                <td>-</td>
                                                <td>@subitem.PurhaseOrder.VectorValue()</td>
                                                <td>
                                                    @subitem.Transfer.VectorValue()
                                                </td>
                                                <td>236</td>
                                                <td>281</td>
                                            </tr>
                                        }
                                    </tbody>
                                    count = count + 1;
                                }
                            </table>
                        </div>
                    </div>
                    <div id="myPopover3" class="colapse-table table-marg poptable">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <div id="loading">
                                    <img src="~/Images/loading.gif" />
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {

        }); 
        ``
        $(document).on("click", ".popTbl", function () {           
            var monthYear = $(this).attr("data-Year");
            var customDate = monthYear.split(',');

            var _itemCode = '@Model.ProductId';            
            $.ajax({
                url: '@Url.Action("_GetItemWareHouseDetail", "Products")',
                data: { itemCode: _itemCode, Month: customDate[0], Year: customDate[1] },
                cache: false,
                type: "GET",
                success: function (data) {
                    $(".popover-content").empty().html(data);
                }
            });


        });
    </script>
}