@{
    ViewBag.Title = "Product Selector";
}

@section Styles
{
    <style type="text/css">
        .default-box-style {
            min-width: 260px;
            min-height: 182px;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="page-heading">
            <img class="img-responsive" src="~/Images/search-icon-small.png" alt="search-icon-small">
            <h1>Product Selector</h1>
        </div>
        <div class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Home")">Home</a></li>
                <li><a href="@Url.Action("Search")">Product Search</a></li>
                <li class="active"><a href="@Url.Action("Selector")">Product Selector</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="container container-bg page-height">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="row">
                <div class="side-bar">
                    <div class="sidebar-heading">
                        <h2>Search by Product</h2>
                    </div>
                    <div class="side-catagory">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Microwave" class="productselector" data-value="Microwaves">
                                Microwaves
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Cook" class="productselector" data-value="Microwave Cookware">
                                Microwave Cookware
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Refrigerator" class="productselector" data-value="Refrigerators">
                                Refrigerators
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Cooler" class="productselector" data-value="Beverage Coolers">
                                Beverage Coolers
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Freezer" class="productselector" data-value="Freezers">
                                Freezers
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Ice Maker" class="productselector" data-value="Ice Makers">
                                Ice Makers
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Small Appliance" class="productselector" data-value="Small Appliances">
                                Small Appliances
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Dishwasher" class="productselector" data-value="Dishwashers">
                                Dishwashers
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio" value="Part" class="productselector" data-value="Parts">
                                Parts
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="row" id="user_content">
                <div id="loading">
                    <img src="~/Images/loading.gif" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" lang="en">
        $(function () {           
            var $radios = $('input:radio[name=optradio]');
            if ($radios.is(':checked') === false) {
                $radios.filter('[value=Microwave]').prop('checked', true);
            }

            $.ajax({
                url: '@Url.Action("_ProductFilter", "Products")',
                data: { filter: "Microwave", Header: "Microwaves" },
                cache: false,
                type: "GET",
                success: function (data) {
                    $("#user_content").empty().html(data);
                }
            });
        });

        $(document).on("change", ".productselector", function () {    
            var value = $('input[name=optradio]:checked').val();
            var header = $(this).attr("data-value");
             $.ajax({
                 url: '@Url.Action("_ProductFilter", "Products")',
                 data: { filter: value, Header: header },
                 cache: false,
                 type: "GET",                
                 success: function (data) {
                     $("#user_content").empty().html(data);
                 }
             });   
        });
    </script>
}
