@if (Auth.isLogin)
{
    <div class="container">
        <div class="row">
            <div class="footer">
                <ul>
                    <li><a href="@Url.Action("Home", "Products")">Home</a></li>
                    <li><a href="@Url.Action("Search", "Products")">Product Search</a></li>
                    <li><a href="@Url.Action("Selector", "Products")">Product Selector</a></li>
                    @if (Auth.RoleName == "WebAdmin" || Auth.RoleName == "Admin")
                    {
                        <li><a href="@Url.Action("Forecasting", "Products")">Forecasting</a></li>
                    }
                    <li><a href="@Url.Action("Analytics", "Products")">Analytics</a></li>
                </ul>
            </div>
            <div class="rights">
                <p>© MCA CORPORATION MANUFACTURING COMPANY @DateTime.Now.Year</p>
            </div>
        </div>
    </div>
}