@if (Auth.isLogin)
{
     <!-- Log off row -->
    <div class="container-fluid black-g">
        <div class="container">
            <div class="row">
                <div class="logoff">
                    <i class="fa" aria-hidden="true"> @(Auth.FirstName + " " + Auth.LastName)</i>
                    <i> | </i>
                    <a href="@Url.Action("Logout", "Account")">
                        <i class="fa fa-power-off" aria-hidden="true" title="@(Auth.RoleName)">&nbsp; Log Off</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <div class="logo"><img class="img-responsive" src="~/Images/logo.jpg" alt="mca corporation" title="MCA-CORPORATION"></div>
            </a>
        </div>
        @if (Auth.isLogin)
        {
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Home", "Products")">Home</a></li>
                    <li><a href="@Url.Action("Search", "Products")">Product Search</a></li>
                    <li><a href="@Url.Action("Selector", "Products")">Product Selector</a></li>
                    @if (Auth.RoleName == "WebAdmin" || Auth.RoleName == "Admin")
                    {
                        <li><a href="@Url.Action("Forecasting", "Products")">Forecasting</a></li>
                    }
                    <li><a href="@Url.Action("Analytics", "Products")">Analytics</a></li>
                    @if (Auth.RoleName == "WebAdmin")
                    {
                        <li><a href="@Url.Action("Index", "Account")">Users</a></li>
                    }
                </ul>
            </div>
        }
    </div>
</nav>
